
/**
 * Font size.
 */

@for $f-s-val from 8 through 16 {
  .f-#{$f-s-val} {
    @include f-s(#{$f-s-val}px !important);
    @include f-s(#{calRem($f-s-val)}rem !important);
  }
}

$f-s-val:18;

@while $f-s-val <= 28 {
  .f-#{$f-s-val} {
    @include f-s(#{$f-s-val}px !important);
    @include f-s(#{calRem($f-s-val)}rem !important);
  }

  $f-s-val: $f-s-val + 2;
}

$f-s-val:30;

@while $f-s-val <= 45 {
  .f-#{$f-s-val} {
    @include f-s(#{$f-s-val}px !important);
    @include f-s(#{calRem($f-s-val)}rem !important);
  }

  $f-s-val: $f-s-val + 5;
}

/**
 * Font weight.
 */

.f-w-100 {
    @include f-w(100);
}
.f-w-300 {
    @include f-w(300);
}
.f-w-400 {
    @include f-w(400);
}
.f-w-600 {
    @include f-w(600);
}
.f-w-700 {
    @include f-w(700);
}
.f-w-900 {
    @include f-w(900);
}
.f-bold {
    @include f-w(bold);
}
.f-thin {
    @include f-w(lighter);
}

/**
 * Font style.
 */

.f-normal {
  @include f-st(normal);
}

.f-italic {
  @include f-st(italic);
}

.f-oblique {
  @include f-st(oblique);
}
